@{
    Layout = "_Layout";
}

@model Palace.Models.Flower

<h2>Select Flower</h2>
@using (Html.BeginForm())
{
    @Html.CheckBoxFor(model => model.IsBouquet, new { @class = "form-check-input" })
    @Html.LabelFor(model => model.IsBouquet, "Add to Bouquet", new { @class = "form-check-label" })

    @Html.LabelFor(model => model.FlowerId)
    @Html.DropDownList("FlowerId", (IEnumerable<SelectListItem>)ViewBag.FlowerOptions, "Select Flower")
    @Html.ValidationMessageFor(model => model.FlowerId)

    <div id="bouquetFields" style="display: none;">
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
        </div>
        <div>
            @Html.LabelFor(model => model.Size)
            @Html.EditorFor(model => model.Size)
        </div>
    </div>
    <input type="submit" value="Submit">
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#IsBouquet').change(function () {
                var isChecked = $(this).is(':checked');
                if (isChecked) {
                    $('#bouquetFields').show();
                } else {
                    $('#bouquetFields').hide();
                }
            });
        });
    </script>
}
